<% include partials/header%>
<center>
<h1><%= camp.name.toUpperCase()%></h1>
<img src="<%= camp.img%>">
<h4><%= camp.desc%></h4>
<a href="/campgrounds" class="btn btn-sm btn-primary">Go Back</a>
</center>
<% include partials/footer%>
